.board {
  padding: 2rem;
  text-align: center;
  min-width: 20rem;

  .turn {
    font-size: $font-size;
    margin-bottom: 2rem;
  }

  .hidden {
    visibility: hidden;
    transform: translate(0);
  }

  .button {
    transform: translateX($translate-button);
    border-radius: 10rem;
    background-color: $color-dark;
    font-size: 2rem;
    color: $color-light;
    text-decoration: none;
    padding: 0.6rem;
    display: inline-block;
    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.5rem 1rem rgba(grey, 0.5);
      background-color: $color-light;
      color: $color-dark;
      transform: translateY(-0.2rem) translateX($translate-button);
    }

    &:active {
      box-shadow: 0 0 0 rgba($color, 1);
      transform: translateY(0) translateX($translate-button);
    }
  }
}

.score {
  display: flex;
  padding-top: 3rem;
  width: 23rem;
  justify-content: space-between;
  margin: 0 auto;
  font-size: $font-size;
}
