.game {
  .row {
    display: flex;
    justify-content: center;
  }

  .case {
    background-color: rgba($color-dark, 0.2);
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin: 0.2rem;
    width: 10rem;
    height: 10rem;
    border: 5px solid $color-dark;
    border-radius: 1rem;

    &:hover {
      cursor: pointer;
      background-color: $color-light;
    }
  }
}
